@model JobViewModel

<header class="site-header">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">
                <h1 class="text-white">Job Details</h1>

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="/Home">Home</a></li>

                        <li class="breadcrumb-item active" aria-current="page">Job Details</li>
                    </ol>
                </nav>
            </div>

        </div>
    </div>
</header>


<section class="job-section section-padding pb-0">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h2 class="job-title mb-4">@Model.Title</h2>

                <div class="job-thumb job-thumb-detail border rounded p-4 shadow-sm">
                    <div class="d-flex flex-wrap align-items-center border-bottom pb-3 mb-4">
                        <p class="job-date mb-0 me-4">
                            <i class="custom-icon bi-clock me-1"></i>
                            <span>@Model.DateCreated</span>
                        </p>

                        <p class="job-price mb-0">
                            <i class="custom-icon bi-cash me-1"></i>
                            <span>@Model.Price</span>
                        </p>
                    </div>

                    <h4 class="mt-4 mb-2">Job Description</h4>
                    <p class="text-muted">@Model?.Description</p>

                    <h5 class="mt-4 mb-3">Requirements</h5>
                    @if (Model.skillNames != null)
                    {
                        <ul class="list-unstyled">
                            @foreach (var req in Model.skillNames)
                            {
                                <li class="mb-2"><i class="bi-check-circle me-2"></i>@req</li>
                            }
                        </ul>
                    }
                    
                    

                    <div class="d-flex justify-content-center flex-wrap mt-5 border-top pt-4">
                        @if (User.IsInRole("Freelancer"))
                        {
                            <a href="@Url.Action("CreateProposal", "Proposal", new { id = Model?.Id })" class="custom-btn btn btn-primary mt-2">Apply Now</a>
                        }
                        <div class="job-detail-share d-flex align-items-center ms-auto mt-2">
                            <p class="mb-0 me-lg-4 me-3">Share:</p>
                            <a href="#" class="bi-facebook me-2" title="Share on Facebook"></a>
                            <a href="#" class="bi-twitter me-2" title="Share on Twitter"></a>
                            <a href="#" class="bi-share" title="Share this job"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br />
<br />
    <section class="cta-section">
        <div class="section-overlay"></div>

        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-10">
                    <h2 class="text-white mb-2">Over 10k opening jobs</h2>

                    <p class="text-white">Gotto Job is a free HTML CSS template for job hunting related websites. This layout is based on the famous Bootstrap 5 CSS framework. Thank you for visiting Tooplate website.</p>
                </div>

                <div class="col-lg-4 col-12 ms-auto">
                    <div class="custom-border-btn-wrap d-flex align-items-center mt-lg-4 mt-2">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a href="#" class="custom-btn custom-border-btn btn me-4">Create an account</a>

                            <a href="#" class="custom-link">Post a job</a>
                        }
                    </div>
                </div>

            </div>
        </div>
    </section>
